/* --------------- reset.css --------------- */

html, body, div, span, h1, h2, h3, h4, h5, h6, p, em, img, strong, sub, sup, b, u, i,  dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;                               /* обнуляем отступы и убираем бордюры */
	vertical-align: baseline;          /* приводим все к одной базовой линии */
	background: transparent;      /* чтобы не проскакивали левые фоны, установленные по умолчанию */
	font-size: 100%;                     /* размер шрифта всем одинаковый */
}
a {                                      	     /* ссылка не в общем списке чтобы не сбрасывать outline по умолчанию */
	margin:0;
	padding:0;
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	outline:none;
}
table {						/* устраняем отступы между ячейками таблицы */
	border-collapse: collapse; 
	border-spacing: 0;
}
td, td img {
	vertical-align: top;			/* возвращаем привычное вертикальное выравнивание */
} 
input, select, button, textarea {
	margin: 0; 				/* убираем отступы по умолчанию для элементов форм (в частности для checkbox и radio) */
	font-size: 100%; 			/* делаем размер шрифтов везде одинаковым */
	outline: none;
}
input[type="text"], input[type="password"], textarea {
	padding: 0; 				/* убираем внутренние отступы для текстовых полей */
}
input[type="checkbox"] { 		/* вертикальное выравнивание чекбоксов и радиобатонов относительно меток */
	vertical-align: bottom;
}
input[type="radio"] {
	vertical-align: text-bottom;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display:block;
}
nav ul {
	 list-style:none;
}
/* --------------- /reset.css --------------- */

/* --------------- базовые настройки ---------*/
html {
	min-height:100%; /* всегда показываем вертикальную полосу прокрутки  */
}
body {
	color: #7e7f84;
	text-align: left;
	font-size: 1em; /* используем безопасные шрифтовые CSS стеки */
	min-height:100%;
	font-family: "Arial", sans-serif; /*font-family: 'Roboto Condensed', sans-serif;*/
	
}
a, a:visited { /* порядок правил для ссылок имеет значение */
	color: #f45a40;
	text-decoration: underline;
}
a:hover {
	color: #f45a40;
	text-decoration:none;
}
a:focus, a:active {
	color: #f45a40;
	text-decoration: underline;
}
h1, h2, h3, h4, h5, h6{
	font-weight:normal;
}
img{

	max-width:100%;
}
.clr{
	clear:both;
}
.clearfix:after {
    clear: both;
    content: "";
    display: table;
}
/* --------------- /базовые настройки ---------*/

.center-block-main{
	max-width:1170px; margin:0 auto;
}
.header-top{
	padding:30px 0; border-bottom:1px solid #eee;
}

	.logo{
		float:left; font-size:1.375em; font-family: "Arial", sans-serif; font-weight:600; text-shadow: 2px 2px 0 #cccccc; color: #618ad2;
	}
	.logo1{
		float:right;
	}
		.logo1 h1{
			float:left; font-size:1.375em; font-weight:600;
		}
			

.header-menu{
	padding:10px 0;margin-bottom:30px;
}
	.menu{
		float:left;
	}
		.menu li{
			float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em; margin-bottom: 10px;
		}
			.menu li a{
				color:#7e7f84; text-decoration:none;
			}
			.menu li a:hover{
				color:#f45a40;
			}
.block3-section{
	margin-bottom:50px;
}
	.block3-section article{
		width:31.6%; float:left; margin-left:2.6%; display:block;
	}
	.block3-section article:first-child{
		margin-left:0;
	}
	.block3-section article img{
		display:block; margin:0 auto 20px auto;
	}
	.block3-section article h2{
		font-family: "Arial", sans-serif; font-size:1.375em; margin-bottom:20px;
	}
	.block3-section article p{
		font-size:0.875em; padding-top:10px;
	}
	.block3-section footer{
		padding-top:10px;
	}
summary > span {
     margin-left:-1.1em;
     background:#fff;
     cursor:pointer; /*меняем курсор для красоты*/
   }	
.ftr{
	background:#2a2d34; padding:40px 0;
}
	.ftr h2{
		color:#fff; font-size:1.325em; font-family: "Arial", sans-serif; margin-bottom:10px; text-transform:uppercase;
	}
	.ftr p{
		font-size:0.875em; margin-bottom:20px;
	}
	
	.ftr h3{
		font-size:0.875em; margin-bottom:10px;
	}
		.ftr h3 a{
			color:#fff; text-decoration:none;
		}
		.ftr h3 a:hover{
			text-decoration: underline;
		}
aside{
    float:right; width:28.3%; margin-top:70px;
}
    .widget{
        margin-bottom:50px;
    }
    .widget h2{
        text-transform:uppercase; color:#6c6969; background:#f8f8f8; border-left:2px solid #58c93a; padding:10px 20px; font-weight:600; margin-bottom:20px;
    }
    
    .widget nav{
        margin:0 0 10 20px;
    }
    
    article{
        margin-bottom:70px;
    }
    article>header{
        font-size:0; background:none; margin-bottom:10px; position:relative;
    }
   
    article>h2{
        font-size:1.75em; text-transform:uppercase; font-weight:600; line-height:1.1; margin:0 0 40px 20px; color:#4f4e4e;
    }
    article>p{
        margin:0 0 20px 20px; line-height:1.3;
    }
main{
    float:left; width:62.5%; margin-top:70px;
}
.main1{
    float:left; width:100%; margin-top:70px;
}
    .aside-menu li{
            float:left; text-transform:uppercase; margin-right:30px; font-size:0.875em;padding-bottom:5px;margin-bottom: 10px;
        }
            .aside-menu a{
                color:#7e7f84; text-decoration:none; display: block; padding: 8px 14px; border: 1px solid #e5e5e5; margin-bottom: -1px;
            }
            .aside-menu a:hover{
                background-color: #f5f5f5;
            }
            .aside-menu .active a {
                color: white;
                background-color: #0088cc;
            }
    .pager{
        border-top:1px solid #e1e0e0; font-size:0.8125em; text-transform:uppercase; font-weight:600; padding:30px;
    }
        .pager a{
            color:#818181; text-decoration:none;
        }
        .pager a:hover{
            text-decoration:underline;
        }
        .home-link{
            text-align:center;
        }
	.article-post {
    display: block;
    border: 1px solid #d5d5d5;
    padding: 14px;
    margin: 14px 0;
    background: #ddecf7;
    font: italic 16px/20px Arial;
	border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
.article-post1 {
    display: block;
    border: 1px solid #d5d5d5;
    padding: 10px;
    margin: 10px 0;
    background: #ddecf7;
    font: italic 16px/20px Arial;
	 width:45%;
	 text-align:center;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
}
@media screen and (max-width:835px){
main{
    float:none; width:90%; display:table;  margin:10px 5px 10px 5px;
}
aside{
    float:none; width: 90%; display:table;  margin:0 auto;
}
.aside-menu a{
                margin-bottom: 5px;
            }
}
@media screen and (max-width:810px){
	.block3-section article{
		width:95%; float:none; margin:2.5% 2.5% 10px 2.5%;
	}
	.block3-section article:first-child{
		 margin:2.5% 2.5% 10px 2.5%;
	}

}
@media screen and (max-width:634px){
aside{
    float:none; display:table;  margin:0 auto;
}
}	

@media screen and (max-width:600px){
	.block3-section article{
		width:95%; float:none; margin:0 2.5% 30px 2.5%;
	}
	.block3-section article:first-child{
		 margin:0 2.5% 30px 2.5%;
	}

}
@media screen and (max-width:480px){

	.block4-main article{
			width:95%; margin:0 2.5% 30px 2.5%; float:none; overflow:hidden;
		}
		.block4-main article:first-child{
			width:95%; margin:0 2.5% 30px 2.5%; float:none;
		}

}
@media screen and (max-width:430px){
aside{
    float:none; display:table;  margin:0 auto;
}
.logo{
        float:none; text-align:center; margin-bottom:10px; display:table; margin:0 auto;
    }
    .logo1{
        float:none; text-align:center; margin-bottom:10px; display:table; margin:0 auto;
    }
    
}
@media screen and (max-width:410px){
	.header-top{
		padding:10px 0;
	}
	.logo{
		float:none; text-align:center;  display:table; margin:0 auto;
	}
	.logo1{
		float:none; text-align:center; display:table; margin:0 auto;
	}


}
@media screen and (max-width:360px){

	
}	


.clr{
    clear:both;
}

    .pager{
        border-top:1px solid #e1e0e0; font-size:1.125em; text-transform:uppercase; font-weight:300; padding:30px;
    }
        .pager a{
            color:#818181; text-decoration:none;
        }
        .pager a:hover{
            text-decoration:underline;
        }
        .previous-link{
            float:left;
        }
        .next-link{
            float:right;
        }
